{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

{% block content  %}

<form method='GET' action=''>
<input type='text' name='q' name= placeholder='Search posts'/>
<input type='submit' value='Search' />
</form>


{% if user.is_authenticated %}

			<a href= "{% url 'post_new' %}" button type="button" class="btn btn-info">new post</button></a>
			<a href ="{% url 'post_draft_list' %}" button type="button" class="btn btn-info">draft list</button></a>

{% endif %}



	{% for post in posts %}        	
        <div class="post">
        	<h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
        	<p>{{ post.text|truncatechars:250 }}</p>
        	<div class="date">
            	{{ post.published_date }} | {{ post.author }}
        	
           
        	</div>
          
    	</div>
	{% endfor %}
{% endblock content %}