{% extends 'base.html' %}

{% block content %}




	{% if post.author == request.user %}
	
	
	<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}"><span class="glyphicon glyphicon-default">publish</a></span>
	<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></a></span>
	<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></a></span>
	
	{% else %}
	

	{% endif %}
	
	<h1>{{ post.title}}</h1>
	<p>{{ post.text|linebreaksbr }}</p>
	{% if post.published_date %}
	<div class="date">
		{{ post.published_date}}
	</div>
	{% else %}
 	<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
 	
{% endif %}
{% endblock %}